tmsenv
*.pyc
__pycache__
traded_difference.txt
test.py
.env
*.log
*.json
*.jsonl
node_modules
# Ignore everything in the alembic folder
alembic/*
# Do not ignore the .env file inside the alembic folder
!alembic/.env